:root {
    --color: rgb(171, 177, 191);
    --background-color: rgb(20, 22, 26);
    --border-color: grey;

    --is-blank-color: rgb(245, 246, 255);
    --is-blank-background-color: rgba(0, 0, 0, 0.5);

    --is-primary-color: rgb(0, 31, 26);
    --is-primary-background-color: rgb(0, 209, 178);

    --is-link-color: rgb(245, 246, 255);
    --is-link-background-color: rgb(66, 88, 255);

    --is-info-color: rgb(0, 31, 26);
    --is-info-background-color: rgb(102, 209, 255);

    --is-success-color: rgb(0, 31, 26);
    --is-success-background-color: rgb(72, 199, 142);

    --is-warning-color: rgb(0, 31, 26);
    --is-warning-background-color: rgb(255, 183, 15);

    --is-danger-color: rgb(0, 31, 26);
    --is-danger-background-color: rgb(255, 102, 133);
}

@media (prefers-color-scheme: light) {
    :root {
        --color: rgb(0,0,0);
        --background-color: #ffffff;
    }
}

.is-blank {
    color: var(--is-blank-color);
    background-color: var(--is-blank-background-color);
}

.is-primary {
    color: var(--is-primary-color);
    background-color: var(--is-primary-background-color);
}

.is-link {
    color: var(--is-link-color);
    background-color: var(--is-link-background-color);
}

.is-info {
    color: var(--is-info-color);
    background-color: var(--is-info-background-color);
}

.is-success {
    color: var(--is-success-color);
    background-color: var(--is-success-background-color);
}

.is-warning {
    color: var(--is-warning-color);
    background-color: var(--is-warning-background-color);
}

.is-danger {
    color: var(--is-danger-color);
    background-color: var(--is-danger-background-color);
}